apiVersion: apps/v1
kind: Deployment
metadata:
  name: contosoair
  labels:
    app.kubernetes.io/name: contosoair
    kubernetes.azure.com/generator: devhub
  namespace: contosoairproject
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: contosoair
  template:
    metadata:
      labels:
        app.kubernetes.io/name: contosoair
        azure.workload.identity/use: "true"
    spec:
      serviceAccountName: sc-account-70b9a779-a6ba-4139-aba1-858b6e0057cf
      containers:
        - name: contosoair
          image: contosoclusterregistry.azurecr.io/contosoair:af2ab2df9c523ae721888a54ae8fb1f8c544bb47
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "0.5"
              memory: "0.5Gi"
            limits:
              cpu: "1"
              memory: "1Gi"
          envFrom:
            - configMapRef:
                name: contosoair-config
            - secretRef:
                name: sc-openai487b5-secret
                optional: true
          livenessProbe:
            tcpSocket:
              port: 3000
          readinessProbe:
            tcpSocket:
              port: 3000
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 1
            successThreshold: 1
            initialDelaySeconds: 3
          startupProbe:
            tcpSocket:
              port: 3000
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
            successThreshold: 1
            initialDelaySeconds: 0
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
              add:
                - SETPCAP
                - MKNOD
                - AUDIT_WRITE
                - CHOWN
                - DAC_OVERRIDE
                - FOWNER
                - FSETID
                - KILL
                - SETGID
                - SETUID
                - NET_BIND_SERVICE
                - SYS_CHROOT
                - SETFCAP
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: contosoair
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: contosoair
